    /* Contenedor principal */
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
  }
  
  /* Títulos de sección */
  .section-title {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 30px;
      color: #2c3e50;
      opacity: 0;
      animation: fadeIn 1s forwards;
  }
  
  /* Tarjetas de habilidades */
  .skills {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 40px;
  }
  
  .skill-card {
      background: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      flex: 1 1 calc(33.333% - 20px);
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      opacity: 0;
      transform: translateY(20px);
      animation: slideUp 0.5s ease forwards;
  }
  
  .skill-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .skill-card h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: #2c3e50;
  }
  
  .skill-card p {
      font-size: 1rem;
      color: #666;
  }
  
  /* Animaciones */
  @keyframes fadeIn {
      to {
          opacity: 1;
      }
  }
  
  @keyframes slideUp {
      to {
          opacity: 1;
          transform: translateY(0);
      }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
      .skill-card {
          flex: 1 1 100%;
      }
  }
  



  .sobre-mi {
    display: none; /* Se oculta inicialmente */
    margin-top: 100px;
    background-color: #e4e4e4;
    color: rgb(0, 0, 0);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 2rem;
    animation: slideUp 0.5s ease forwards;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Animación suave */
    transform: translateY(20px); /* Empuja el contenido hacia abajo inicialmente */
}



.imagen {
    margin-left: 111px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}
.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido h1 {
    
    margin: 0 0 1rem 0;
    font-size: 1.8rem;
}
.contenido p {
   
    margin: 0 0 1rem 0;
    line-height: 1.6;
}
.descargar-cv {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    color: #000000;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.descargar-cv:hover {
  background: linear-gradient(to right, #D251BF 30%, #6DC1F3 60%);
    color: rgb(255, 255, 255);
}














#footer {
    background-color: #D251BF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0; /* Asegura que se alinee correctamente */
    z-index: 1000; /* Asegura que el footer esté por encima del contenido */
}