body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    position: fixed; /* Fija el menú para que siempre esté en pantalla */
    top: 0;
    width: 100%; /* Asegura que cubra el ancho de la pantalla */
    z-index: 1000; /* Se mantiene encima de otros elementos */
    background: linear-gradient(to right, #D251BF 30%, #6DC1F3 60%);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto dinámico */
    transform: translateY(0); /* Estado inicial visible */
    transition: transform 0.3s ease-in-out; /* Suaviza el movimiento */
}

nav.hidden {
    transform: translateY(-100%); /* Esconde el menú fuera de la vista */
}

ul {
    border-radius: 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li {
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 8px 12px;
    position: relative;
    transition: color 0.3s;
}
a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #86357a;
    transition: width 0.3s;
}
a:hover {
    color: #ffffff;
}
a:hover::after {
    width: 100%;
}



